{% extends "layout.html" %}
{% block title %}Home page{% endblock title %}
{% block content %}
<h1></h1>
<div class='container mt-4 space-y-5'>
    <h2 class='btn btn-primary'>
       {% if form.instance.pk %}
    Edit Tweet {% else %} Create Tweet
    {% endif %}
    </h2>  
    <form method='post' enctype='multipart/form-data' class='form'>
        {% csrf_token %}
        {{form}}
        <button type='submit' class='btn btn-success'>Submit</button>
    </form>
    <a href="{% url 'tweet_list' %}">go back</a>
 </div>
{% endblock content %}