# Python bytecode
__pycache__/
*.py[cod]

# Virtual environment
venv/
ENV/
env/
.venv/
.ENV/

# Django specific
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
media/
staticfiles/
db.sqlite3
./djX.zip/

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env
